$baseColor: #1e1e1e;
$primaryColor: lightBlue;

@function factorSize($factor) {
  $result: 12px;
  @return $result * $factor;
}

body {
  background-color: $baseColor;
  color: white;
  font-size: factorSize(2);

  // Für die Textposition
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div {
  background-color: $baseColor;
}

::placeholder {
  color: gray;
}

.image {
  background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}