body {
  background-color: #1e1e1e;
  color: white;
  font-size: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div {
  background-color: #1e1e1e;
}

::placeholder {
  color: gray;
}

.image {
  background-image: url(image@1x.png);
}

@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}

/*# sourceMappingURL=style.css.map */
