<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
    >
      <div class="max-w-md mx-auto">
        <h1 class="text-2xl font-bold">07 Angular</h1>
        <div class="text-normal mt-2">
        
          Aktuelle Uhrzeit: <span id="clock">{{clock}}</span>
        
        </div>


        <div class="text-normal mt-2">
          Ausgewählte Farbe: <span id="color" class="px-4 py-1" [style.backgroundColor]="currentColorCode">{{currentColorCode}}</span><br>
          Geändert: <span id="color-changed-count">{{colorsChangedCount}}</span>
        </div>


        <button
        (click)="refreshColor()"
              
              class="
                mt-4
                group
                relative
                w-full
                flex
                justify-center
                py-2
                px-4
                border border-transparent
                text-sm
                font-medium
                rounded-md
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
              "
            >
              Nächste Farbe
            </button>
      </div>
    </div>
  </div>
</div>