<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>10 Dateischnittstelle VueJS</title>

    <link rel="stylesheet" href="style.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
      <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
          class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
        >
          <div class="max-w-md mx-auto">
            <h1 class="text-2xl font-bold">10 Dateischnittstelle VueJS</h1>
            
            <h3>Nachrichten</h3>
            <div class="message-container" id="app">
              <div class="message" v-if="!messages.length">Keine Nachrichten</div>
              <div class="message" v-for="message in messages">
                <div class="timestamp">{{message.timeStamp}}</div>
                <div class="message-text">{{message.messageText}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</html>
